.FinishedQuiz {
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

.FinishedQuiz ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.success {
    color: green;
}

.error {
    color: red;
}